<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LumiaSensorCoreSDKTestingUWP" version="1.2.0.127" targetFramework="wpa81" />
  <package id="LumiaSensorCoreSDKUWP" version="1.2.0.127" targetFramework="wpa81" />
  <package id="sqlite-net" version="1.0.8" targetFramework="wpa81" />
</packages>